@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font: 16px/1 'Open Sans', sans-serif;
    background: #fcf9f9;
    text-align: left;
}


.accordion{
    width: 100%;
    background: #fff;
}

.accordion-tab > .accordion-toggle{
    position: absolute;
    display: none;
}

.accordion-tab > label{
    color: #fff;
    background: rgb(75, 160, 173);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 13px 40px 13px 20px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    text-align: left;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .40s;
    overflow: hidden;
}

.accordion-tab > label:after {
    content: '\f078';
    position: absolute;
    top: 13px;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90);
    transition:transform .30s ;
}

.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform: rotate(90);
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
}

.accordion-tab > .accordion-content p {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 15px;
    line-height: 1.5;
}
h1{
    color: maroon;
    text-align: center;
}
.h4{
    color:maroon;
    text-align: left;
    margin-left: 10px ;
}
ul{
    text-align: left;
}
p{
    text-align: left;
    margin-left: 10px;
}
#faq-ques{
    margin-left: 100px;
    margin-right: 100px;
}