#register, #login {
    width: 500px;
    border: 3px solid #0c0e14;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: black;
    font-size: 14px;
    background: wheat;
    margin: 100px auto;

  }
  
  .signup-image {
     align-content: center;
  }
  
  form label, form input {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    width: 90%;
   
  }
  #lb{
    text-align: justify;
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
   
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  
  .signup-image{
    color: #6B8E23;
    margin-bottom: 10px;
    align-content: center;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    width: 300px;
  }
 #hos-reg{
  background-repeat: no-repeat;
  height: auto;
  text-align: left;
 }
 textarea{
  resize: none;
 }